h1 {
  margin-bottom: 30px;
}
input[type="text"] {
  width: 200px;
  float: left;
}
.narrow-button {
  float: left;
  margin-left: 10px;
}
.loader {
  display: none;
  margin-left: 5px;
  font-size: 10px;
  float: left;
  border-top: 1.1em solid rgba(147, 147, 147, 0.2);
  border-right: 1.1em solid rgba(147, 147, 147, 0.2);
  border-bottom: 1.1em solid rgba(147, 147, 147, 0.2);
  border-left: 1.1em solid #676767;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 3em;
  height: 3em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
table {
 border: 1px solid black;
}

.headline {
  font-family: 'Italianno', cursive;
  color: orange;
  font-size: 60px;
  font-weight: bold;
  margin-left: 30px;
  margin-top: 35px;
}
.linkish {
  align-content: center;
  font-family: 'Italianno', cursive;
  color: white;
  font-size: 30px;
  text-decoration: underline;
  font-weight: bold;
  margin-left: 30px;
}

.itemList {
  font-family: 'Italianno', cursive;
  color: white;
  padding: -3px;
  padding-left: 5px;
  border: 0px;
  margin: -5px;
  font-size: 20px;
  margin-left: 5px;
  opacity: 1.0;

}
.itemListBg {
  background-color: black;
  opacity: .65
}

nav {
    float: left;
    width: 160px;
    margin: 10px;
    padding: 1em;
}

detail {
  float: right;
  width: 500px;
  margin: 10px;
  padding: 1em;
}

.detailBg {
  background-color: white;
  opacity: 0.8;
}
.detailText {
  opacity: 1.0;
  padding-left: 5px;
}
.bgImg {
    -webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
    filter: grayscale(80%);
    position: absolute;
    left:0;
    top:0;
    width: 100%;

}
.fg{
  z-index: 100;
  position: absolute;
  left: 0;
  top: 0;
}

.hline { width:100%; height:1px; background: #000 }
